    <h1 class="text-center">Productos disponibles</h1>

<button class="btn btn-primary">
    <a href="index.html">Formulario de productos</a>
</button>

{{#each productos}}
    <div class="row">
        <div class="card " style="width: 18rem;">
            <img src={{this.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">Precio: {{this.price}}</p>
            </div>
        </div>
    </div>
{{/each}}


<h3>{{mensaje}}</h3>